<div class="cbp-item graphic web-design">
    <a href="http://codecanyon.net/item/cube-portfolio-responsive-jquery-grid-plugin/6372959" target="_blank">
        <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
                <img src="../../img/380x250/3.jpg" alt="">
            </div>
        </div>
        <div class="cbp-l-grid-agency-title">Shopping Gallery</div>
        <div class="cbp-l-grid-agency-desc">Graphic / Logo</div>
    </a>
</div>
<div class="cbp-item identity logos">
    <a href="http://codecanyon.net/item/cube-portfolio-responsive-jquery-grid-plugin/6372959" target="_blank">
        <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
                <img src="../../img/380x250/14.jpg" alt="">
            </div>
        </div>
        <div class="cbp-l-grid-agency-title">Timezone Mgmt</div>
        <div class="cbp-l-grid-agency-desc">Graphic / Logo</div>
    </a>
</div>
<div class="cbp-item graphic logos">
    <a href="http://codecanyon.net/item/cube-portfolio-responsive-jquery-grid-plugin/6372959" target="_blank">
        <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
                <img src="../../img/380x250/105.jpg" alt="">
            </div>
        </div>
        <div class="cbp-l-grid-agency-title">Story Book</div>
        <div class="cbp-l-grid-agency-desc">Graphic / Logo</div>
    </a>
</div>
<div class="cbp-item identity web-design">
    <a href="http://codecanyon.net/item/cube-portfolio-responsive-jquery-grid-plugin/6372959" target="_blank">
        <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
                <img src="../../img/380x250/33.jpg" alt="">
            </div>
        </div>
        <div class="cbp-l-grid-agency-title">Website Lightbox</div>
        <div class="cbp-l-grid-agency-desc">Identity</div>
    </a>
</div>
<div class="cbp-item logos web-design">
    <a href="http://codecanyon.net/item/cube-portfolio-responsive-jquery-grid-plugin/6372959" target="_blank">
        <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
                <img src="../../img/380x250/134.jpg" alt="">
            </div>
        </div>
        <div class="cbp-l-grid-agency-title">Mountaineer</div>
        <div class="cbp-l-grid-agency-desc">Graphic / Logo</div>
    </a>
</div>
<div class="cbp-item identity logos">
    <a href="http://codecanyon.net/item/cube-portfolio-responsive-jquery-grid-plugin/6372959" target="_blank">
        <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
                <img src="../../img/380x250/123.jpg" alt="">
            </div>
        </div>
        <div class="cbp-l-grid-agency-title">Archiview</div>
        <div class="cbp-l-grid-agency-desc">Graphic / Logo</div>
    </a>
</div>