<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Cube Portfolio - Responsive jQuery Grid Plugin</title>

    <script type="text/javascript">
        if ((/android|iphone|ipad|ipod/gi).test(navigator.appVersion)) {
            if (self != top) {
                if (window != top) {
                    top.location.href = location.href;
                }
            }
        }
    </script>

    <link rel="shortcut icon" href="/cubeportfolio/live-preview/img/favicon.ico" type="image/x-icon">

    <!-- load fonts from google -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,600,700%7CRoboto:300,400,500,700%7CRoboto+Condensed%7CLato:400,700" rel="stylesheet" type="text/css">

                     <link rel="stylesheet" type="text/css" href="/cubeportfolio/live-preview/css/website.min.css">

    <!-- load css for cubeportfolio -->
         <link rel="stylesheet" type="text/css" href="/cubeportfolio/live-preview/cubeportfolio/css/cubeportfolio.min.css">
</head>
<body class="inner-page mosaic-page">
    <div class="wb-header">
        <div class="wb-wrap">
            <a href="/cubeportfolio/live-preview/" class="logo">
                <img src="/cubeportfolio/live-preview/img/logo.png" alt="Cube Portfolio Logo">
            </a>

            <div class="wb-nav">
                <a href="javascript:;" class="toggle">
                    <span class="toggle-menu-bar"></span>
                    <span class="toggle-menu-bar"></span>
                    <span class="toggle-menu-bar"></span>
                </a>
                <ul>
                    <li>
                        <a href="#usage-examples" class="usage-examples-nav" title="Usage Examples">Usage Examples</a>
                        <ul class="wb-nav-sub">
                            <li>
                                <a href="/cubeportfolio/live-preview/templates/projects/" class="wb-nav-projects" title="Projects Template">Projects</a>
                            </li>
                            <li>
                                <a href="/cubeportfolio/live-preview/templates/gallery/" class="wb-nav-gallery" title="Gallery Template">Gallery</a>
                            </li>
                            <li>
                                <a href="/cubeportfolio/live-preview/templates/mosaic/" class="wb-nav-mosaic" title="Mosaic Template">Mosaic</a>
                            </li>
                            <li>
                                <a href="/cubeportfolio/live-preview/templates/masonry/" class="wb-nav-masonry" title="Masonry Template">Masonry</a>
                            </li>
                            <li>
                                <a href="/cubeportfolio/live-preview/templates/slider-testimonials/" class="wb-nav-slider-testimonials" title="Slider & Testimonials Templates">Slider & Testimonials</a>
                            </li>
                            <li>
                                <a href="/cubeportfolio/live-preview/templates/agency-work/" class="wb-nav-agency-work" title="Agency & Work Templates">Agency & Work</a>
                            </li>
                            <li>
                                <a href="/cubeportfolio/live-preview/templates/blog-posts-team/" class="wb-nav-blog-posts-team" title="Blog Posts & Meet The Team Templates">Blog Posts & Team</a>
                            </li>
                            <li>
                                <a href="/cubeportfolio/live-preview/templates/faq-tabs/" class="wb-nav-faq-tabs" title="FAQ & Tabs Templates">FAQ & Tabs</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/cubeportfolio/live-preview/#features" title="Main Features">Features</a>
                    </li>
                    <li>
                        <a href="/cubeportfolio/live-preview/svelte-builds/" title="Svelte Builds" class="svelte-builds-page">Svelte Builds</a>
                    </li>
                    <li>
                        <a href="http://codecanyon.net/item/cube-portfolio-responsive-wordpress-grid-plugin/8534570" title="Cube Portfolio - Responsive WordPress Grid Plugin" target="_blank">Wordpress version</a>
                    </li>
                    <li>
                        <a href="http://codecanyon.net/item/cube-portfolio-responsive-jquery-grid-plugin/6372959" class="buy-now">Buy Now</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="wb-grid">
        <div class="wb-center">
            <div class="example">
                <div class="example-title">Mosaic</div>
                <div class="example-desc">
                    Cube Portfolio uses a bin-packing algorithm to fit any type of content in an ideal position.
                    You can organize your content in multiple rows and columns or use a complex grid with no gaps.
                </div>
            </div>

            <div class="grid">
                <div id="js-filters-mosaic" class="cbp-l-filters-holder">
                    <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">All</div>
                    <div data-filter=".print" class="cbp-filter-item">Print</div>
                    <div data-filter=".web-design" class="cbp-filter-item">Web Design</div>
                    <div data-filter=".logos" class="cbp-filter-item">Logo</div>
                    <div data-filter=".graphic" class="cbp-filter-item">Graphic</div>
                </div>

                <div id="js-filters-mosaic-cat1" class="cbp-l-subfilters cbp-l-subfilters--active" data-filter-parent="*">
                    <div data-filter=".motion" class="cbp-filter-item">MOTION</div>
                    <div data-filter=".identity" class="cbp-filter-item">IDENTITY</div>
                    <div data-filter=".finance" class="cbp-filter-item">FINANCE</div>
                </div>
                <div id="js-filters-mosaic-cat2" class="cbp-l-subfilters" data-filter-parent=".print">
                    <div data-filter=".development" class="cbp-filter-item">DEVELOPMENT</div>
                    <div data-filter=".accounting" class="cbp-filter-item">ACCOUNTING</div>
                    <div data-filter=".marketing" class="cbp-filter-item">MARKETING</div>
                </div>
                <div id="js-filters-mosaic-cat3" class="cbp-l-subfilters" data-filter-parent=".web-design">
                    <div data-filter=".finance" class="cbp-filter-item">FINANCE</div>
                    <div data-filter=".support" class="cbp-filter-item">SUPPORT</div>
                    <div data-filter=".production" class="cbp-filter-item">PRODUCTION</div>
                </div>
                <div id="js-filters-mosaic-cat4" class="cbp-l-subfilters" data-filter-parent=".logos">
                    <div data-filter=".accounting" class="cbp-filter-item">ACCOUNTING</div>
                    <div data-filter=".development" class="cbp-filter-item">DEVELOPMENT</div>
                    <div data-filter=".motion" class="cbp-filter-item">MOTION</div>
                </div>
                <div id="js-filters-mosaic-cat5" class="cbp-l-subfilters" data-filter-parent=".graphic">
                    <div data-filter=".identity" class="cbp-filter-item">IDENTITY</div>
                    <div data-filter=".support" class="cbp-filter-item">SUPPORT</div>
                    <div data-filter=".production" class="cbp-filter-item">PRODUCTION</div>
                </div>

                <div id="js-grid-mosaic" class="cbp cbp-l-grid-mosaic">
                    <div class="cbp-item web-design graphic finance identity">
                        <a href="../../img/big/13.jpg" class="cbp-caption cbp-lightbox"
                           data-title="Bolt UI<br>by Tiberiu Neamu">
                            <div class="cbp-caption-defaultWrap">
                                <img src="../../img/380x450/13.jpg" alt="">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <div class="cbp-l-caption-title">Bolt UI</div>
                                        <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="cbp-item print logos development accounting">
                        <a href="../../img/big/16.jpg" class="cbp-caption cbp-lightbox"
                           data-title="World Clock<br>by Paul Flavius Nechita">
                            <div class="cbp-caption-defaultWrap">
                                <img src="../../img/380x450/16.jpg" alt="">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <div class="cbp-l-caption-title">World Clock</div>
                                        <div class="cbp-l-caption-desc">by Paul Flavius Nechita</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="cbp-item print logos accounting development">
                        <a href="../../img/big/10.jpg" class="cbp-caption cbp-lightbox"
                           data-title="WhereTO App<br>by Tiberiu Neamu">
                            <div class="cbp-caption-defaultWrap">
                                <img src="../../img/760x900/10.jpg" alt="">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <div class="cbp-l-caption-title">WhereTO App</div>
                                        <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="cbp-item web-design print marketing support">
                        <a href="../../img/big/11.jpg" class="cbp-caption cbp-lightbox"
                           data-title="iDevices<br>by Tiberiu Neamu">
                            <div class="cbp-caption-defaultWrap">
                                <img src="../../img/760x900/11.jpg" alt="">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <div class="cbp-l-caption-title">iDevices</div>
                                        <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="cbp-item logos graphic motion support">
                        <a href="../../img/big/17.jpg" class="cbp-caption cbp-lightbox"
                           data-title="Seemple* Music<br>by Tiberiu Neamu">
                            <div class="cbp-caption-defaultWrap">
                                <img src="../../img/380x450/17.jpg" alt="">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <div class="cbp-l-caption-title">Seemple* Music</div>
                                        <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="cbp-item print logos development accounting">
                        <a href="../../img/big/84.jpg" class="cbp-caption cbp-lightbox"
                           data-title="Remind~Me Widget<br>by Tiberiu Neamu">
                            <div class="cbp-caption-defaultWrap">
                                <img src="../../img/380x450/84.jpg" alt="">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <div class="cbp-l-caption-title">Remind~Me Widget</div>
                                        <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="cbp-item web-design graphic print accounting production support">
                        <a href="../../img/big/105.jpg" class="cbp-caption cbp-lightbox"
                           data-title="Workout Buddy<br>by Tiberiu Neamu">
                            <div class="cbp-caption-defaultWrap">
                                <img src="../../img/380x450/105.jpg" alt="">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <div class="cbp-l-caption-title">Workout Buddy</div>
                                        <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="cbp-item print graphic marketing identity">
                        <a href="../../img/big/94.jpg" class="cbp-caption cbp-lightbox"
                           data-title="Digital Menu<br>by Cosmin Capitanu">
                            <div class="cbp-caption-defaultWrap">
                                <img src="../../img/760x900/94.jpg" alt="">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <div class="cbp-l-caption-title">Digital Menu</div>
                                        <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="cbp-item logos web-design finance development">
                        <a href="../../img/big/109.jpg" class="cbp-caption cbp-lightbox"
                           data-title="Holiday Selector<br>by Cosmin Capitanu">
                            <div class="cbp-caption-defaultWrap">
                                <img src="../../img/380x450/109.jpg" alt="">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <div class="cbp-l-caption-title">Holiday Selector</div>
                                        <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="cbp-item motion">
                        <a href="../../img/big/123.jpg" class="cbp-caption cbp-lightbox"
                           data-title="Holiday Selector<br>by Cosmin Capitanu">
                            <div class="cbp-caption-defaultWrap">
                                <img src="../../img/380x450/123.jpg" alt="">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <div class="cbp-l-caption-title">Holiday Selector</div>
                                        <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="cbp-item graphic web-design support production">
                        <a href="../../img/big/19.jpg" class="cbp-caption cbp-lightbox"
                           data-title="Holiday Selector<br>by Cosmin Capitanu">
                            <div class="cbp-caption-defaultWrap">
                                <img src="../../img/380x450/19.jpg" alt="">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <div class="cbp-l-caption-title">Holiday Selector</div>
                                        <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div id="js-loadMore-mosaic" class="cbp-l-loadMore-button">
                    <a href="ajax-mosaic/loadMore.html" class="cbp-l-loadMore-link" rel="nofollow">
                        <span class="cbp-l-loadMore-defaultText">LOAD MORE (<span class="cbp-l-loadMore-loadItems">4</span>)</span>
                        <span class="cbp-l-loadMore-loadingText">LOADING...</span>
                        <span class="cbp-l-loadMore-noMoreLoading">NO MORE WORKS</span>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class="wb-grid wb-grid-stripe">
        <div class="wb-center">
            <div class="example">
                <div class="example-title">Mosaic Flat</div>
                <div class="example-desc">
                </div>
            </div>
        </div>
        <div class="grid">
            <div id="js-filters-mosaic-flat" class="cbp-l-filters-buttonCenter">
                <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
                    All <div class="cbp-filter-counter"></div>
                </div>
                <div data-filter=".print" class="cbp-filter-item">
                    Print <div class="cbp-filter-counter"></div>
                </div>
                <div data-filter=".web-design" class="cbp-filter-item">
                    Web Design <div class="cbp-filter-counter"></div>
                </div>
                <div data-filter=".graphic" class="cbp-filter-item">
                    Graphic <div class="cbp-filter-counter"></div>
                </div>
                <div data-filter=".motion" class="cbp-filter-item">
                    Motion <div class="cbp-filter-counter"></div>
                </div>
            </div>

            <div id="js-grid-mosaic-flat" class="cbp cbp-l-grid-mosaic-flat">
                <div class="cbp-item web-design graphic">
                    <a href="../../img/big/111.jpg" class="cbp-caption cbp-lightbox" data-title="Bolt UI<br>by Tiberiu Neamu">
                        <div class="cbp-caption-defaultWrap">
                            <img src="../../img/380x380/111.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <div class="cbp-l-caption-title">Bolt UI</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="cbp-item print motion">
                    <a href="../../img/big/115.jpg" class="cbp-caption cbp-lightbox" data-title="World Clock<br>by Paul Flavius Nechita">
                        <div class="cbp-caption-defaultWrap">
                            <img src="../../img/380x380/115.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <div class="cbp-l-caption-title">World Clock</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="cbp-item print motion">
                    <a href="../../img/big/19.jpg" class="cbp-caption cbp-lightbox" data-title="WhereTO App<br>by Tiberiu Neamu">
                        <div class="cbp-caption-defaultWrap">
                            <img src="../../img/380x760/19.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <div class="cbp-l-caption-title">WhereTO App</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="cbp-item motion graphic">
                    <a href="../../img/big/10.jpg" class="cbp-caption cbp-lightbox" data-title="Seemple* Music<br>by Tiberiu Neamu">
                        <div class="cbp-caption-defaultWrap">
                            <img src="../../img/760x380/10.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <div class="cbp-l-caption-title">Seemple* Music</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="cbp-item web-design print">
                    <a href="../../img/big/13.jpg" class="cbp-caption cbp-lightbox" data-title="iDevices<br>by Tiberiu Neamu">
                        <div class="cbp-caption-defaultWrap">
                            <img src="../../img/380x760/13.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <div class="cbp-l-caption-title">iDevices</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="cbp-item print motion">
                    <a href="../../img/big/17.jpg" class="cbp-caption cbp-lightbox" data-title="Remind~Me Widget<br>by Tiberiu Neamu">
                        <div class="cbp-caption-defaultWrap">
                            <img src="../../img/760x380/17.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <div class="cbp-l-caption-title">Remind~Me Widget</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="cbp-item web-design print">
                    <a href="../../img/big/123.jpg" class="cbp-caption cbp-lightbox" data-title="Workout Buddy<br>by Tiberiu Neamu">
                        <div class="cbp-caption-defaultWrap">
                            <img src="../../img/380x380/123.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <div class="cbp-l-caption-title">Workout Buddy</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="cbp-item print graphic">
                    <a href="../../img/big/84.jpg" class="cbp-caption cbp-lightbox" data-title="Digital Menu<br>by Cosmin Capitanu">
                        <div class="cbp-caption-defaultWrap">
                            <img src="../../img/380x380/84.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <div class="cbp-l-caption-title">Digital Menu</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div id="js-loadMore-mosaic-flat" class="cbp-l-loadMore-bgbutton">
                <a href="ajax-mosaic-flat/loadMore.html" class="cbp-l-loadMore-link" rel="nofollow">
                    <span class="cbp-l-loadMore-defaultText">LOAD MORE (<span class="cbp-l-loadMore-loadItems">4</span>)</span>
                    <span class="cbp-l-loadMore-loadingText">LOADING...</span>
                    <span class="cbp-l-loadMore-noMoreLoading">NO MORE WORKS</span>
                </a>
            </div>
        </div>
    </div>


    <div id="usage-examples" class="wb-center">
        <div class="example">
            <div class="example-title">Other Templates</div>
        </div>

        <br>
        <br>

        <div id="js-usage-examples" class="cbp usage-examples-grid">
            <div class="cbp-item wb-example-projects">
                <a href="/cubeportfolio/live-preview/templates/projects/" class="cbp-caption">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="/cubeportfolio/live-preview/img/examples/projects.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <div class="cbp-l-caption-text">VIEW MORE</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cbp-l-grid-work-title">Projects</div>
                </a>
            </div>
            <div class="cbp-item wb-example-gallery">
                <a href="/cubeportfolio/live-preview/templates/gallery/" class="cbp-caption">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="/cubeportfolio/live-preview/img/examples/gallery.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <div class="cbp-l-caption-text">VIEW MORE</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cbp-l-grid-work-title">Gallery</div>
                </a>
            </div>
            <div class="cbp-item wb-example-mosaic">
                <a href="/cubeportfolio/live-preview/templates/mosaic/" class="cbp-caption">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="/cubeportfolio/live-preview/img/examples/mosaic.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <div class="cbp-l-caption-text">VIEW MORE</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cbp-l-grid-work-title">Mosaic</div>
                </a>
            </div>
            <div class="cbp-item wb-example-masonry">
                <a href="/cubeportfolio/live-preview/templates/masonry/" class="cbp-caption">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="/cubeportfolio/live-preview/img/examples/masonry.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <div class="cbp-l-caption-text">VIEW MORE</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cbp-l-grid-work-title">Masonry</div>
                </a>
            </div>
            <div class="cbp-item wb-example-slider-testimonials">
                <a href="/cubeportfolio/live-preview/templates/slider-testimonials/" class="cbp-caption">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="/cubeportfolio/live-preview/img/examples/slider.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <div class="cbp-l-caption-text">VIEW MORE</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cbp-l-grid-work-title">Slider & Testimonials</div>
                </a>
            </div>
            <div class="cbp-item wb-example-agency-work">
                <a href="/cubeportfolio/live-preview/templates/agency-work/" class="cbp-caption">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="/cubeportfolio/live-preview/img/examples/work.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <div class="cbp-l-caption-text">VIEW MORE</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cbp-l-grid-work-title">Agency & Work</div>
                </a>
            </div>
            <div class="cbp-item wb-example-blog-posts-team">
                <a href="/cubeportfolio/live-preview/templates/blog-posts-team/" class="cbp-caption">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="/cubeportfolio/live-preview/img/examples/blog.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <div class="cbp-l-caption-text">VIEW MORE</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cbp-l-grid-work-title">Blog Posts & Team</div>
                </a>
            </div>
            <div class="cbp-item wb-example-faq-tabs">
                <a href="/cubeportfolio/live-preview/templates/faq-tabs/" class="cbp-caption">
                    <div class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img src="/cubeportfolio/live-preview/img/examples/faq.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <div class="cbp-l-caption-text">VIEW MORE</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cbp-l-grid-work-title">FAQ & Tabs</div>
                </a>
            </div>
        </div>
    </div>

    <div class="wb-foter-wrapper">
        <div class="wb-footer">
            <div>
                &#169; 2013-2019 Cube Portfolio. All Rights Reserved.
            </div>
        </div>
    </div>

    <script src="https://cdn.ravenjs.com/3.22.2/raven.min.js" crossorigin="anonymous"></script>
    <script>Raven.config('https://a4135b01ce7a4f5a9ec97cdaa0edfc4e@sentry.io/286275').install()</script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-46357659-1', 'auto');
      ga('send', 'pageview');

    </script>

    <!-- load jquery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>

    <!-- load cubeportfolio plugin -->
         <script type="text/javascript" src="/cubeportfolio/live-preview/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>

             <script type="text/javascript" src="/cubeportfolio/live-preview/js/jquery.website.min.js"></script>

    <script type="text/javascript" src="js/main.js"></script>

</body>
</html>
